* {
  background-size: 100vh;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #232d3f;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#title,
#nums,
#value {
  color: white;
}
input,
button {
  border: none;
  border-radius: 0.15rem;
}
#title {
  text-align: center;
}
#nums {
  text-align: center;
}
#generate {
  width: 5rem;
  height: 1.5rem;
  justify-self: center;
}
#value {
  text-align: center;
  font-size: 1.75rem;
}
